{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% if edit != null %}
    <h1 class="text-center mb-4 mt-5" >Modification de votre compte</h1>
    {% else %}
    <h1 class="text-center mt-5 mb-4">Crée un compte</h1>
    {% endif %}
   

    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="register mb-5">
            <div class="row ">
            <h3>{{app.user.pseudo}}</h3>
                <div class="col-6 mb-4 mt-4">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="row">
                    <div class="col-6 mb-4 mt-4">
                        {{ form_row(registrationForm.recaptcha) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mt-4">
                    {{ form_row(registrationForm.submit, { 'label': 'Envoyer' }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
