
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container-fluid" style="width:90% !important" >
      <div class="row ">
            <h1 class="mt-5 mb-5">Mes réservations</h1>
            <p class=" fs-5 mb-3">Pour annuler, afficher les informations d'un rdv ou d'un stage, il vous suffit de cliquer sur la réservation dans le calendrier</p>
            
            <div class="col-3">
                  <div class="imgReservationsssss"></div>
            </div>
            <div class="col-9">
                  <div class="container">
                        <div id='calendar'></div>
                    </div>
            </div>
       </div>
</div> 

<div class="container-fluid mt-5">
      {% set reservations = app.user.reservations %}
      <div class="row row-cols-md-6 g-4">
            {% for reservation in reservations %}
            {% if reservation.session != null  %}
                  {% set dateNow = date() %}
                  {% set dateNows = dateNow | date("d-m-Y") %}
                  {% set datePlus1 = dateNow | date_modify(" +1 day")|date("d-m-Y") %}
                  {% set dateSession = reservation.session.startTime | date() %}  
                  {% set dateStage = reservation.session.startTime | date() %}    
                  {% set datePlus2 = dateNow | date_modify(" +2 day")|date("d-m-Y") %}
                  <!-- Modal suppresion -->
                  <button type="button" value="{{reservation.id}}" id="{{reservation.session.id}}" class="modal-trigger btn btn-lg bg-secondary mt-2" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal{{reservation.session.id}}">annuler</i></button>                 
                  <div class="modal fade" id="exampleModal{{reservation.session.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          {% if date(reservation.session.startTime) < dateNow %}
                                          <h5 class="modal-title" id="exampleModalLabel"> Information de votre réservations déjà éffectuer</h5>
                                          {% else %}
                                          <h5 class="modal-title" id="exampleModalLabel"> L'annulation est définitive, êtes-vous certain(e) de votre décision ?</h5>
                                          {% endif %}                                                       
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body fs-5">
                                          <img src="/{{reservation.session.benefit.img}}" alt="image {{ reservation.session.benefit}}" style="max-height: 250px;"  srcset="">
                                          <p><strong>{{ reservation.session.benefit}}:</strong></p>
                                          <p >Le {{ dateSession | date("d-m-Y")}}  de {{ reservation.session.startTime | date("h:m")  }} à {{ reservation.session.endTime | date("h:m")  }}.</p>
                                          <p >Place réservée : {{reservation.nbPlace}} place(s)</p>
                                          <p >Coût de la séance, {{reservation.session.benefit.price * reservation.nbPlace}} € sur place</p>
                                    </div>
                                    <div class="modal-footer">
                                          {% if datePlus1 == dateSession | date("d-m-Y") %}
                                                <h5> Vous ne pouvez pas annuler un rendez-vous <strong>24 heures</strong> avant la séance ! </h5>
                                          {% elseif date(reservation.session.startTime) < dateNow  %}
                                                <h5> évenement déjà passser </h5>         
                                          {% else %}                                                
                                                <button type="button" class=" btn-res btn btn-secondary" data-bs-dismiss="modal" >X</button>    
                                                <button class="btn-res btn btn-secondary"><a href="{{ path('edit_reservation', {'id': reservation.id , 'id_user': app.user.id}) }}">Modifier infos de la réservation</a></button>  
                                                <button class="btn-res btn btn-secondary"><a href="{{ path('delete_reservation', {'id': reservation.id , 'id_user': app.user.id}) }}">Annuler Stage</a></button>
                                          {% endif %}    
                                    </div>
                              </div>
                        </div>
                  </div>
            {% elseif reservation.stage.id != null %}
                  {% set dateNow = date() %}
                  <!-- Modal suppresion -->
                  <button type="button" value="{{reservation.id}}" id="{{reservation.stage.id}}" class="modal-trigger btn btn-lg bg-secondary mt-2" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal{{reservation.stage.id}}">annuler</i></button>
                  <div class="modal fade" id="exampleModal{{reservation.stage.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          {% if date(reservation.stage.startTime) < dateNow %}
                                          <h5 class="modal-title" id="exampleModalLabel"> Information de votre réservations déjà éffectuer</h5>
                                          {% else %}
                                          <h5 class="modal-title" id="exampleModalLabel"> l'annulation est définitive êtes vous certain de votre décsicions ?</h5>
                                          {% endif %} 
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                          <img src="/{{reservation.stage.image}}" alt="image de {{reservation.stage.title}}" style="  max-height: 250px; " srcset="">
                                          <p><strong>{{ reservation.stage.title}}:</strong></p>
                                          <p >Le {{ reservation.stage.startTime | date("d/m/Y")  }}  de {{ reservation.stage.startTime | date("h:m")  }} à {{ reservation.stage.endTime | date("h:m")  }}.</p>
                                          <p >Place reserver : {{reservation.nbPlace}} place(s)</p>
                                          <p >Cout de la séance, {{reservation.stage.price * reservation.nbPlace}} € sur place(s)</p>
                                    </div>
                                    <div class="modal-footer">
                                          {% if date(reservation.stage.startTime) < dateNow  %}
                                                <h5> évenement déjà passser </h5>       
                                          {% elseif datePlus2 == dateStage | date("d-m-Y") %}
                                                <h5> Vous ne pouvez pas annuler un rendez-vous <strong>48 heures</strong> avant la séance ! </h5>
                                          {% else %}
                                                <button type="button" class="btn-res btn btn-secondary mt-2 " data-bs-dismiss="modal" >X</button>      
                                                <button class="btn-res btn btn-secondary"><a href="{{ path('delete_reservation', {'id': reservation.id , 'id_user': app.user.id}) }}">Annuler RDV</a></button>
                                          {% endif %}                       
                                    </div>
                              </div>
                        </div>
                  </div>
            {% endif %}
            {% endfor %}
      </div>  
</div>

      <script>     
            // on ajoute un evenement d'écoute sur le document charger sur cet page avec une fonction
           document.addEventListener('DOMContentLoaded', function() {
              // on selectionne l'élément qui a pour ID 'calendar'
              let calendarEl = document.getElementById('calendar');
              // calendar = nouveau calendrier et calandarEl seras composer de :
              let calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridMonth',    // ou possible de mettre 'listWeek' ou 'dayGridMonth'
                  locale: 'fr',   // pour avoir le texte en français
                  timeZone: 'Europe/Paris', // time zone de l'europe
                  headerToolbar:  {       // modifier la disposition de la toullbar et ajouter des éléments
                      start: 'prev,next today', // preve nexte au début 
                      center: 'title',        //title au milieu
                      end: 'dayGridMonth,timeGridWeek,list'  // a la fin on a choix afficher le mois ou la semaine
                  },
                  hiddenDays: [ 0, 6 ], // pour masquer dimanche et samedi sur le rendue du calendrier
                  buttonText: {  // permet de redefinir le texte des bouttons 
                      today: "Aujourd'hui",  
                      month: "Mois",
                      week: "Semaine",
                      list: "Liste"
                  },
         
                  allDaySlot: false, // defini si allday s'affiche ou non 
                  slotMinTime: "08:00", // affichage des heure qu'a partir de de 8heures,
                  slotMaxTime: "21:00", // affichage des heure jusqu'a 20heures,
                  eventResizableFromStart: true,  // on permet d'étirer l'évenement vers le haut pour ajouter du temps 
                  nowIndicator: true, // place un trait rouge a l'heure ou l'on se trouve 
                  events: {{  datas | raw }},
                  eventClick : function(info) { 

                        const modals = document.querySelectorAll(".modal-trigger"); // je selectionne tout les elemement avec la classe .modal-trigger
                        for(let modal of modals){  // pour chaque élements récupérer

                              let id = modal.value; // on récupere la value de chaque éléments qui est l'id de la réservation
                              if(id == info.event.id){ // si l'id de la réservation est strictement égal  a l'id de l'event qui est le meme que celui de la réservation alors 
                                    
                                    modal.click();  // on ajoute un évenement au clique.
                              }
                             
                        }
                  }  
              });
              calendar.render();
          });


      </script>
{% endblock %}